/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav li{
  margin: 10px;
}

.footer {
  width: 100%;
  text-align: center;
}

.contact-form {
  position: relative;
  padding: 10px;
  margin: 10px;
}

svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 20px;
}

.icons a{
  color: black;
  transition: color 0.5s ease-out 50ms;
}

.icons a:hover{
  /* filter: drop-shadow(0 0 0.35rem #0abdc6); */
  background-color: #F3E600;
}

.nav-link {
  box-shadow: inset 0 0 0 0 black;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link:hover{
  filter: drop-shadow(0 0 0.35rem #F3E600);
  box-shadow: inset 100px 0 0 0 #F3E600;
  color: black;
}

.adjust-height {
  min-height: auto;
}

.error-container {
  display: flex;
  justify-content: center;
}

.error-text {
  padding: 10px;
}

.about-text {
  padding: 20px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../src/assets/images/hero.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.btn {
  background-color: #feff6e;
  filter: drop-shadow(0 0 0.35rem #0abdc6);
}

.project-cards {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-card {
  width: 30rem;
  padding: 10px;
  text-align: center;
  transition: background-color 0.5s ease-out 50ms, color 0.5s ease-out 50ms;
}

.project-card:hover {
  filter: drop-shadow(0 0 0.35rem black);
  background-color: rgb(170, 168, 168);
  color: white;
}

.resize-card-img {
  border-radius: 10px;
  width: 456px;
  height: 132px;
}

.card-img {
  border-radius: 10px;
}

.project-links {
  text-decoration: none;
}

.page-name {
  padding: 10px;
  margin: 10px;
}

.resume-btn {
  margin: 20px;
}

.github-repo-links {
  color: black;
}

.github-repo-links:hover {
  color: white;
  filter: drop-shadow(0 0 0.35rem black);
}

@media screen and (min-width: 1924px) {
  .project-card {
    display: flex;
    width: 35rem;
  }
}

@media screen and (min-width: 2068px) {
  .project-card {
    display: flex;
    width: 40rem;
  }
}

@media screen and (max-width: 1480px) {
  .project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    margin: 10px;
  }
}

@media screen and (max-width: 430px) {
  .project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 20rem;
  }
}


/* body {
  display: flex;
} */

